
// Colors
$blueColor: rgb(0,0,255);
$greenColor:rgb(0, 128, 0);
$redColor: rgb(255, 0, 0);
$blackColor: rgb(0, 0, 0); 
$whiteColor: rgb(255,255,255);

//Fonts
$titleFont: Arial, Helvetica, sans-serif;